@charset "utf-8";
@import url('/plugin/fonts/notosanskr.css');
/* SIR 지운아빠 */

/* 공통 */
.ssBoth { clear:both !important;}
.ssHide { display:none ;}
.ssFloatR { float:right !important;}
.ssMr16 { margin-right:16px !important;}
.ssMl16 { margin-left:16px !important;}

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em; font-family:'Noto Sans KR',sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Noto Sans KR',sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul li { list-style:none;}
#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Noto Sans KR',sans-serif; font-size:1em}
button {cursor:pointer}

textarea, select {font-family:'Noto Sans KR',sans-serif; font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a { font-family:'Noto Sans KR',sans-serif;}
a:link, a:visited {color:#333;text-decoration:none}
a:hover, a:focus, a:active {color:#333;text-decoration:none;}
input {
    background: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:970px;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 상단 레이아웃 */
#hd {z-index:4;position:relative; background:#f1f1f1; border-bottom:1px solid #ddd;}
.hd_zindex {z-index:10 !important}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_wrapper {position:relative;margin:0 auto; max-width:1200px;}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#logo {float:left;}

/* 전체 검색 */
#hd_sch {float:left;margin:0 0 0 20px;padding:0;border:1px solid #c3c6ca}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#hd_sch #sch_stx {padding-left:5px;width:110px;height:24px;border:0;background:#fff;line-height:1.9em !important;line-height:1.6em}
#hd_sch #sch_submit {padding:0 5px;height:26px;border:0;background:#e2e6eb;color:#333;cursor:pointer}

/* 텍스트 크기 조절 */
#text_size {float:left;margin:0 0 0 10px;letter-spacing:-3px}
#text_size button {margin:0;padding:1px 2px;border:1px solid #c3c6ca;background:transparent;vertical-align:middle;cursor:pointer}
.ts_up {font-size:1.167em !important}
.ts_up2 {font-size:1.3em !important}

/* 상단 회원가입 등 링크 */
#tnb {float:right;margin-top:8px !important;padding:0;list-style:none;zoom:1}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li {float:left; padding-right:3px;}
#tnb a {display:inline-block; color:#333;letter-spacing:-0.1em;line-height:2.4em}
#tnb a.login { width:55px; line-height:25px;  border-radius:20px; text-align:left; color:#fff; letter-spacing:0; margin-top:2px; font-size:12px; background:url('../img/login.png') 11px 6px #f79422 no-repeat; padding-left:27px;}
#tnb a.register {width:61px; line-height:25px;  border-radius:20px; text-align:center; color:#fff; letter-spacing:0; margin-top:2px; font-size:12px; background:url('../img/join_ico.png') 9px 6px #999 no-repeat; padding-left:21px;}
#tnb a.pay { width:61px; line-height:25px; border-radius:20px; text-align:center; color:#fff; letter-spacing:0; margin-top:2px; font-size:12px; background:url('../img/pay_ico.png') 11px 7px #999 no-repeat; padding-left:21px;}
#tnb a:focus, #tnb a:hover, #tnb a:active {text-decoration:none}
#tnb img {}

/* 메인메뉴 */
#gnb { position:absolute; top: 50px; right: 0px; }
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb_1dul { width:719px;zoom:1; *padding-left: 221px !important; *width:790px;}
#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli {z-index:10;position:relative;float:left}
.gnb_1dli:hover {background:url('../img/menu_border.jpg');  background-position:18px 33px; background-repeat:no-repeat;}

.gnb_1dli_1:hover { background:url('../img/menu_border.jpg');  background-position:24px 33px; background-repeat:no-repeat;}
.gnb_1dli_2:hover { background:url('../img/menu_border.jpg');  background-position:11px 33px; background-repeat:no-repeat;}
.gnb_1dli_3:hover { background:url('../img/menu_border.jpg');  background-position:11px 33px; background-repeat:no-repeat;}
.gnb_1dli_3:hover { background:url('../img/menu_border.jpg'); background-position:18px 33px; background-repeat:no-repeat;}
.gnb_1dli_4:hover { background:url('../img/menu_border.jpg'); background-position:10px 33px; background-repeat:no-repeat;}
.gnb_1dli_5:hover { background:url('../img/menu_border.jpg'); background-position:31px 33px; background-repeat:no-repeat;}
.gnb_1dli_6:hover { }
.gnb_1dli_6 { *width:120px;}
.gnb_1dli_7 { *width:90px;}
.gnb_1dli_8 { *width:90px;}


.gnb_1da {display:inline-block; *display:inline; *zoom:1;height:35px;line-height:2.95em;text-decoration:none; padding-right:30px; font-size:14px; *font-size:12px;}
.all_menu { float:right;}
.gnb_1da:focus, .gnb_1da:hover { text-decoration:none}
.gnb_1dli_air .gnb_1da {}
.gnb_1dli_on .gnb_1da {}
.gnb_2dul {display:none;position:absolute;top:35px;width:180px}
.gnb_2da {display:block;padding:13px 10px;text-align:left;text-decoration:none}
.gnb_1dli_air .gnb_2da {background-color:#333;color:#fff}
.gnb_1dli_on .gnb_2da {background-color:#333;color:#fff}
.gnb_2da:focus, .gnb_2da:hover {background:#666;text-decoration:none}
.gnb_1dli_over .gnb_2dul {display:block;left:0;background:#fff}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0;background:#fff}

#gnb_empty {padding:10px 0;width:100%;text-align:center;line-height:2em}
#gnb_empty a {text-decoration:underline}

/* 중간 레이아웃 */
#wrapper {z-index:5;  width:100%; height:auto; }
#wrapper.getstarted { background:url('../img/bg.jpg') no-repeat;}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#aside {float:right;margin:0 0 0 -1px;width:210px;border-left:1px solid #dde4e9;background:#fff}

#container {z-index:4;position:relative; max-width:1200px;height:auto !important;height:500px; margin:0 auto; }
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title { text-align:center; font-size:15px; color:#333; padding-top:50px; padding-bottom:19px; background:url('../img/border.jpg') center 84px no-repeat; *background-position:587px 78px; font-weight:normal;}
/* 슬라이드 */

.swiper-button-next { background:url('../img/next.png') no-repeat;}
.swiper-button-prev { background:url('../img/prev.png') no-repeat;}
.swiper-button-pause { background:url('../img/pause.png') no-repeat; position:absolute; top:40px; left:38px; width:12px; height:26px; z-index:10; cursor:pointer;}
.swiper-button-pause.pause { background:url('../img/pause.png') no-repeat; position:absolute; top:40px; left:38px; width:12px; height:26px; z-index:10; cursor:pointer;}
.swiper-pagination-bullet { background:url('../img/bull.png') no-repeat !important; width:10px !important; height:10px!important; }
.swiper-pagination-bullet-active { background:url('../img/bull_on.png') no-repeat !important;}

/* 퀵메뉴 */
#quick_wrap { background-color:#f1f1f1;}
#quick_menu { max-width:1200px; margin:0px auto;}
#quick_menu:after { clear:both; display:block; content:"";}
#quick_menu .latest_menu { float:left; width:25%; height:158px; background-color:#fbfbfb; border:1px solid #e3e3e3; margin-top:45px; margin-right:2%; margin-bottom:45px;}
#quick_menu .latest_menu h2 { font-size:15px; font-weight:bold; color:#333; float:left; margin-top:19px; margin-left:19px;}
#quick_menu .latest_menu p.write_ico { float:right; margin:14px 10px 0px 0px;}
#quick_menu .latest_menu p.view_ico { float:left; margin:14px 0px 0px 4px;}
#quick_menu .latest_menu p.more { float:right; margin-right: 10px; }
#quick_menu .latest_menu p.more a { color:#f79422; display:block; padding-top:9px; padding-left:19px;}
#quick_menu .latest_menu ul { clear:both;  padding:0px; margin:0px; padding-top:29px; padding-left:19px;}
#quick_menu .latest_menu ul li { line-height:23px;}
#quick_menu .latest_menu ul li a { clear:both; color:#777; float:left;}
#quick_menu .latest_menu ul li span { color:#777; float:right; padding-right:18px;}

#quick_menu .q_menu { float:right; width:44%; margin-top:45px; margin-bottom:45px; margin-right:1%;}
#quick_menu .q_menu h2 { font-size:15px; font-weight:bold; color:#333; float:left; margin-top:12px; }
#quick_menu .q_menu h2 span, #quick_menu .q_menu h2 span a { color:#f79422;}
#quick_menu .q_menu h2 span a { padding:0px 0px 0px 10px; }
#quick_menu .q_menu .fixed { width:122px; height:25px; background-color:#242424; text-align:center; line-height:25px; border-radius:20px; float:right; margin-top:6px;}
#quick_menu .q_menu .fixed a { color:#fff;}
#quick_menu .q_menu .txt { color:#888; font-weight:400; padding-top:24px;}
#quick_menu .q_menu ul { padding:0px; margin:0px; border:1px solid #e3e3e3; border-right:none; border-bottom:none; margin-top:7px; max-width: 456px;}
#quick_menu .q_menu ul:after { clear:both; display:block; content:"";}
#quick_menu .q_menu ul li { float:left; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; width:33%; height:37px; background-color:#fff; max-width: 152px;}
#quick_menu .q_menu ul li img { width: 100%; max-width: 152px; }
/* 포트폴리오 */
#portfolio_wrap { background-color:#f9f9f9;}
#portfolio { padding-bottom:34px; max-width:1200px; margin:0px auto; text-align:center;}
#portfolio:after { clear:both; display:block; content:"";}
#portfolio h2 { clear:both; font-size:24px; color:#888; text-align:center; font-weight:normal; padding-top:73px; letter-spacing:3px;}
#portfolio .tab { padding:0px; margin:0px; border:1px solid #bbb; border-right:none; margin-top:47px;}
#portfolio .tab li { float:left; width:199px; height:47px; text-align:center; line-height:47px; border-right:1px solid #bbb; background-color:#fff;}
#portfolio .tab li.first { width:198px;}
#portfolio .tab li a { color:#666; font-weight:bold; display:block;}
#portfolio .tab li a:hover { color:#fff; background-color:#555;}
#portfolio .tab:after { clear:both; display:block; content:"";}
#portfolio .tab_list { margin:0px; padding:0px; margin-bottom:61px;}
#portfolio .tab_list:after { clear:both; display:block; content:"";}
#portfolio .tab_list li { float:left;}
#portfolio .tab_list li.tab_first { margin-top:37px; margin-bottom:40px;}
#portfolio .btn_pofol { clear:both; width:200px; height:60px; background-color:#e7e7e7; border-radius:10px; line-height:60px; text-align:center;   margin-right:20px; display:inline-block; *display:inline;}
#portfolio .btn_pofol img { padding-left:26px;}
#portfolio .btn_pofol a { color:#111; font-size:14px; display:block;}
#portfolio .btn_pay {  width:200px; height:60px; background-color:#666; border-radius:10px; line-height:60px; text-align:center; display:inline-block; *display:inline;}
#portfolio .btn_pay img { padding-left:58px;}
#portfolio .btn_pay a { color:#fff; font-size:14px; display:block;}

/* 하단 레이아웃 */
#foot_wrap { clear:both; float: left; width: 100%; background-color:#333; height:283px;}
#foot_wrap #foot { max-width:1200px; margin:0px auto; position:relative;}
#foot_wrap #foot:after { clear:both; display:block; content:"";}
#foot_wrap #foot #foot_copy { float:left; margin-top:51px;}
#foot_wrap #foot #foot_copy ul { padding:0px; margin:0px;}
#foot_wrap #foot #foot_copy ul li { color:#888; line-height:19px;}
#foot_wrap #foot #foot_copy ul li.last { padding-top:45px; padding-bottom:33px;}

#foot_wrap #foot #foot_page { float:left;}
#foot_wrap #foot #foot_page .page_title { color:#888; width:161px; height:27px; line-height:27px; border:3px solid #888; text-align:center; margin-top:52px; margin-left:109px;}
#foot_wrap #foot #foot_page select { width:156px; height:34px; color:#888; border:2px solid #888; background-color:transparent; position:absolute; top:52px; right:0px;}
#foot_wrap #foot #foot_page ul { float:left; padding:0px; margin-top:26px;}
#foot_wrap #foot #foot_page ul li { line-height:26px;}
#foot_wrap #foot #foot_page ul li a { color:#888;}
#foot_wrap #foot #foot_page .foot_menu01 { padding-left:109px;}
#foot_wrap #foot #foot_page .foot_menu02 { padding-left:82px; padding-right:87px;}


#foot_wrap #foot .to_top { position:absolute; top:171px; right:0px;}
/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {position:absolute;top:0;left:161px;;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:31px;height:31px;background:url('../../../img/captcha.png') no-repeat;}
#captcha #captcha_reload {position:absolute;top:31px;left:161px;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha.png') no-repeat  0 -30px;border-top:1px solid #ccc;text-indent:-999px}
#captcha #captcha_key {margin:0 0 0 33px;padding:0 5px;width:70px;height:60px;border:1px solid #b8c9c2;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;line-height:2.8em;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block;}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha.png') no-repeat  0 -30px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span{display:none;}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha.png') no-repeat; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {padding:8px;border:0;background:#ff3061;color:#fff;letter-spacing:-0.1em;cursor:pointer}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}

a.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;padding:7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle; display:none;} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:12px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:8px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.tbl_head01 a {}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #ddd;background:#fff;color:#333;vertical-align:middle;line-height:2em}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:22px}
.tbl_frm01 textarea {width:98%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:dotum;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:0;background:#4b545e;color:#fff;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

/* 검색결과 색상 */
.sch_word {color:#ff3061}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:25px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#e4eaec;text-decoration:none}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#333;color:#fff;font-weight:normal}

/* Mobile화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}


/* 주문결제 */

#itttem { padding-top:100px; margin-bottom:200px; }
#itttem:after { clear:both; display:block; content:"";}
.itttem_wrap { border:1px solid #333; float:left; padding:10px; }
.itttem_wrap h4 { padding:5px 0px; font-size:20px; font-weight:400;}
.itttem_wrap h5 { font-size:15px; padding-bottom:20px; }
.itttem_wrap a { display:block; background-color:#f79422; color:#fff; padding:10px; text-align:center; font-size:13px; }



#sod_frm { padding:20px 0px; }
